/* font for heading and btn */
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap');
/* font for others */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f0f0f0;
    background: url(https://wallpapertag.com/wallpaper/full/a/8/b/41835-nice-backgrounds-1920x1200-free-download.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.container{
    width: 100%;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}
#form{
    z-index: 11;
    width: 450px;
    color: black;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0px 0px 30px 1px rgba(137, 43, 226, 0.333) , 0px 0px 20px 1px rgba(0, 0, 0, 0.396);
}
#form .header{
    color: white;
    padding: 10px 0;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.404);
    background-image: linear-gradient( 135.9deg,  rgba(109,25,252,1) 16.4%, rgba(125,31,165,1) 56.1% );
}
#form .header h1{
    font-size: 24px;
    letter-spacing: 1px;
    font-family: 'Sansita Swashed', cursive;
}
#form .formBody #submit{
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 0;
    margin-top: 20px;
    font-weight: bold;
    border-radius: 6px;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
    background-image: linear-gradient( 135.9deg,  rgba(109,25,252,1) 16.4%, rgba(125,31,165,1) 56.1% );
}
#form .formBody #submit:hover{
    background-image: linear-gradient( 135.9deg, rgba(125,31,165,1) 16.4%,  rgba(109,25,252,1) 56.1% );
}
#form .formBody{
    padding: 0px 20px;
    font-size: 1.1rem;
}
#form .form-control{
    margin: 30px;
    font-weight: bold;
    position: relative;
    font-family: 'Ubuntu', sans-serif;
}
#form .form-control label{
    margin-bottom: 5px;
    display: inline-block;
}
#form .form-control input{
    width: 100%;
    padding: 6px;
    color: gray;
    display: block;
    font-size: 14px;
    border-radius: 5px; 
    border: 2px solid #f0f0f0;
}
#form .form-control input:focus{
    outline: none;
    border-color: #777;
}
#form .form-control.success input{
    border-color: #2ecc71;
}
#form .form-control.error input{
    border-color: #e74c3c;
}
#form .form-control i{
    top: 33px;
    right: 10px;
    position: absolute;
    visibility: hidden;
}
#form .form-control small{
    left: 1px;
    bottom: -20px;
    color: #e74c3c;
    position: absolute;
    visibility: hidden;
}
#form .form-control.error small{
    visibility: visible;
}
#form .form-control.success #circle{
    color: #2ecc71;
    visibility: visible;
}
#form .form-control.error #exclamation{
    color: #e74c3c;
    visibility: visible;
}
